<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="badge badge-info">
            <a>Email : {{ currentUser.username }}</a>
          </li>
        </ul>
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FNB</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Accounts <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a [routerLink]="['/fixedAccount']">Fixed Account</a></li>
                <li>
                  <a [routerLink]="['/savingsAccount']">Savings Account</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Transactions <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="#">Deposit</a></li>
                <li><a href="#">Withdraw</a></li>
              </ul>
            </li>
            <li><a href="#">Recipient</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <button
                class="glyphicon glyphicon-log-in btn btn-danger"
                (click)="logOut()"
              >
                LogOut
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-6" id="grid-fixed">
          <h2>Fixed Account</h2>
          <h1>
            <span>R {{ currentUser.fixedAccount.accountBalance }}</span>
          </h1>
          <button type="button" class="btn btn-info">VIEW</button>
        </div>
        <div class="col-sm-3 col-md-6" id="grid-savings">
          <h2>Savings Account</h2>
          <h1>
            <span>R {{ currentUser.savingsAccount.accountBalance }}</span>
          </h1>
          <a href="test.html"
            ><button type="button" class="btn btn-info">VIEW</button></a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-md-6" id="grid-fixed">
          <button type="button" class="btn btn-success">DEPOSIT</button>
        </div>
        <div class="col-sm-3 col-md-6" id="grid-fixed">
          <button type="button" class="btn btn-danger">WITHDRAW</button>
        </div>
      </div>
    </div>
  </body>
</html>
